#include "resource.h"
#include <afxres.h>

IDR_MAINFRAME MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo", ID_EDIT_UNDO
        MENUITEM "&Redo", ID_EDIT_REDO
    END
    POPUP "&Playback"
    BEGIN
        MENUITEM "Play / Pause\tSpace", 32790, GRAYED
    END
END
